@use '../../../styles/mixins';

.post {
  position: relative;
  max-width: 768px;
  margin: auto;

  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.003em;

    @include mixins.breakpoint(sm) {
      font-size: 22px;
      line-height: 34px;
    }
  }
}
