@use '../../../styles/mixins';

.postList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.post {
  width: 33.33%;
  height: 14rem;
  margin: 0;
  background-color: var(--background-color);
  outline: 0.8px solid #a2a3a9;
  transition: transform 0.1s ease-in-out;

  @include mixins.breakpoint(xs) {
    width: 100%;
    height: 14rem;
  }

  @include mixins.breakpoint(md) {
    width: 50%;
    height: 14rem;
  }

  @include mixins.breakpoint(lg) {
    width: 33%;
    height: 16rem;
  }

  @include mixins.breakpoint(xl) {
    width: 25%;
    height: 16rem;
  }

  &:hover {
    @include mixins.breakpoint(md) {
      transform: scale(1.04);
    }

    outline: 0.8px solid #a2a3a9;
    transition: transform 0.1s ease-in-out;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.4rem;

    p {
      margin: 0.2rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.2rem;
    }

    time {
      margin: 0.2rem;
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.2rem;
      color: #999;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      display: -webkit-box;
      width: 88%;
      margin: 0;
      overflow: hidden;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.8rem;
      text-align: center;
      text-overflow: ellipsis;
      transform: translate(-50%, -50%);
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}
