@use '../styles/mixins';

a {
  text-decoration: none;
  background: none;
}

ul li {
  list-style: none;
}

*,
h1,
h2,
p,
footer,
code {
  font-family: var(--font-fira-mono);
  word-break: keep-all;
}

.header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;

  ul,
  li {
    margin: 0;
  }
}

.post {
  position: relative;
  max-width: 768px;
  margin: auto;

  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  tr,
  li {
    font-family: var(--font-nanum-gothic);
  }

  p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.003em;
    word-break: break-all;
    word-spacing: 2px;

    @include mixins.breakpoint(sm) {
      font-size: 22px;
      line-height: 34px;
    }
  }
}

code {
  border-radius: 6px;
}

code:not(.hljs) {
  padding: 4px 6px;
  font-size: 1rem;
  color: #ccc;
  background: var(--color-gray-100);
  background-color: #314039;
}
