@use '../styles/mixins';

a {
  text-decoration: none;
  background: none;
}

ul li {
  list-style: none;
}

h1,
h2,
p,
footer,
code {
  font-family: var(--font-fira-mono);
  word-break: keep-all;
}

header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;

  ul,
  li {
    margin: 0;
  }
}

.logo {
  .name {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 500;
    color: #e6e7ec;
    text-shadow: 0 3px #6598d2, 3px 0 #e06d3d, 0 -3px #c5ab48;

    @include mixins.breakpoint(md) {
      font-size: 4rem;
      text-shadow: 0 4px #6598d2, 4px 0 #e06d3d, 0 -4px #c5ab48;
    }
  }

  .job {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #87959d;
  }
}
