@use '../styles/mixins';
@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css';

.post {
  position: relative;
  max-width: 768px;
  margin: auto;

  .description {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
  }

  .meta {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 48px;
    border-bottom: 1px solid #666;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0 0 8px;
      border-bottom: none;

      .icon {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 6px;
        fill: #666;
      }

      .text {
        margin: 0;
        font-family: var(--font-fira-mono);
        font-size: 14px;
        word-spacing: -4px;
      }
    }
  }

  h1 {
    margin-bottom: 8px;
    font-size: 40px;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  tr,
  li {
    font-family: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    word-break: break-all;
    word-spacing: 2px;

    @include mixins.breakpoint(sm) {
      font-size: 22px;
      line-height: 34px;
    }

    strong {
      font-weight: 600;
    }
  }

  pre {
    position: relative;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 28px;
    border: 1px solid #444;
    border-radius: 12px;

    code {
      background-color: #212225;
    }

    .copy {
      position: absolute;
      top: 12px;
      right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      padding: 0;
      background-color: transparent;
      border: 1px solid #777;
      border-radius: 6px;
      transition: all 50ms ease-out;
      transform: scale(0);

      svg {
        width: 20px;
        height: 20px;
        fill: #777;
      }

      &:hover {
        transform: scale(1);
      }
    }

    .copied {
      border: 1px solid #53c767;

      svg {
        fill: #53c767;
        transform: scale(1.1);
      }
    }

    code:hover + .copy {
      transform: scale(1);
    }
  }

  code:not(.hljs) {
    padding: 4px 6px;
    font-size: 1rem;
    color: #ccc;
    background-color: #314039;
    border: none;
    border-radius: 6px;
  }
}
