.default {
  color: #999;
}

.red {
  color: #f66a6a;
}

.yellow {
  color: #ffda54;
}

.blue {
  color: #5499d7;
}

.purple {
  color: #a67dc1;
}

.orange {
  color: #e87851;
}

.pink {
  color: #f35b70;
}
