@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css';

#post {
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  tr,
  li {
    font-family: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    @apply text-stone-300 font-bold;
  }

  p {
    @apply text-[20px] font-thin leading-9 tracking-wide py-4;
    @media screen(sm) {
      @apply text-[22px];
    }
    strong {
      @apply font-semibold;
    }
  }

  h2 {
    @apply pb-2 pt-8 text-4xl leading-10;
  }

  h3 {
    @apply pb-2 pt-6 text-3xl leading-10;
  }

  h4 {
    @apply pb-1 pt-4 text-2xl leading-10;
  }

  pre {
    @apply mb-8 m-auto rounded-lg max-w-[90vw] text-lg leading-8;
    code {
      @apply rounded-lg border border-stone-600 bg-neutral-800;
    }
    .copy {
      position: absolute;
      top: 12px;
      right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      padding: 0;
      background-color: transparent;
      border: 1px solid #777;
      border-radius: 6px;
      transition: all 50ms ease-out;
      transform: scale(0);

      svg {
        width: 20px;
        height: 20px;
        fill: #777;
      }

      &:hover {
        transform: scale(1);
      }
    }

    .copied {
      border: 1px solid #53c767;

      svg {
        fill: #53c767;
        transform: scale(1.1);
      }
    }

    code:hover + .copy {
      transform: scale(1);
    }
  }

  code:not(.hljs) {
    @apply mx-1 rounded-md bg-stone-700 px-2 py-1 font-monospace text-lg font-medium text-stone-200;
  }
}
