@use '../../../../../styles/mixins';

.container {
  position: absolute;
  top: 0;
  right: -181px;
  display: none;
  width: 159px;
  height: 100%;

  @include mixins.breakpoint(xl) {
    display: block;
  }
}

.toc {
  position: sticky;
  top: 80px;
  right: 0;
  padding-left: 16px;
  border-left: 1px solid #999;

  .h3 {
    margin-left: 8px;
  }

  .h4 {
    padding-left: 16px;
  }

  li {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.6rem;

    a {
      color: #999;

      &:hover {
        color: #eee;
        transition-duration: 0.2s;
      }
    }
  }
}
